{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<!-- {% bootstrap_label "Welcome on bootstrap!" %} -->
{% load staticfiles %}
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link href="{% static "libs/css/bootstrap-slider.css" %}" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
<script type='text/javascript' src="{% static "libs/bootstrap-slider.min.js" %}"></script>
<script type='text/javascript' src="https://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>
<script>AUTOBAHN_DEBUG = true;</script>
<script src="http://autobahn.s3.amazonaws.com/autobahnjs/latest/autobahn.min.jgz"></script>

<head>
<style>
body {
	margin-left: 40px;
	max-width: 1024px;
	margin: auto;
}
.well {
	display: inline-block;
}
#ex1 {
/* 	display: inline-block; */
}
</style>
</head>

<body>
<h3>Motor control</h3>
      		<p>Slide to adjust speed</p>
      		<div class="well">
				<input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="100" data-slider-max="195" data-slider-step="5" data-slider-value="100"/>
			</div>
      		<div id="alert_placeholder"></div>
      		<div>
	      		<button type="button" class="btn btn-default" id="BtnHost">
	      			<span>Host</span>
	      		</button>
	      		<button type="button" class="btn btn-default" id=BtnClient>
	      			<span>Client</span>
	      		</button>
	      		<button type="button" class="btn btn-default" id=BtnStop>
	      			<span>Stop</span>
	      		</button>
      		</div>
      		<div>
	      		<video id="sourceVideo" width="320" height="200" autoplay>
	<!--       			<source src="http://localhost:9999"> -->
	<!--       				Your browser does not support the video tag. -->
	<!--       			</source> -->
	      		</video>
	      		<video id="remoteVideo" width="320" height="200" autoplay>
<!-- 	      			<source src="http://192.168.0.15:9999"> -->
<!-- 	      				Your browser does not support the video tag. -->
<!-- 	      			</source> -->
	      		</video>
      		</div>
</body>

<script type='text/javascript'>
    	
    	var autobahn_session;
    	var last_slider_value = 11;
    	var host = false;
    	
    	bootstrap_alert = function(){}
    	bootstrap_alert.warning = function(message){
    		$('#alert_placeholder').html('<div class="alert alert-danger alert-dissmissable"> <span>' + message + '</span> </div>')
    	}
    	
    	$("#BtnHost").click(function(){
    		bootstrap_alert.warning('Host selected.');
    		host = true;
    		StartHost();
    	})
    	
    	$("#BtnClient").click(function(){
    		bootstrap_alert.warning('Client selected.');
    		autobahn_session.subscribe('com.example.onStreamSession', onStreamSession).then(
               		function (sub){
               			console.log('subscribed to ' + sub.topic + ' topic');
               		},
               		function (err){
               			console.log('failed to subscribe to topic ', err);
               		}
                  );
    		
    	})
    	
    	$("#BtnStop").click(function(){
    		bootstrap_alert.warning('Stream stopped.');
    	})
    	
    	$(document).ready(function() {
    		/* Example 1 */
    		console.log("ready");
	    	$('#ex1').slider({
	          	formatter: function(value) {
	            	return 'Current value: ' + value;
	          	}
	        });
    		bootstrap_alert.warning('This is a test alert.');
    		last_slider_value = $('#ex1').attr("data-slider-value");
    		console.log(last_slider_value);
    	});
    	
        // the URL of the WAMP Router (Crossbar.io)
        //
    	var wsuri;
        if (document.location.origin == "file://") {
           wsuri = "ws://127.0.0.1:8080/ws";
        } else {
        	wsuri = "ws:justkog.happyforever.com:8080/ws";
//            wsuri = (document.location.protocol === "http:" ? "ws:" : "wss:") + "//" +
//                        document.location.host + "/ws";
        }
        // the WAMP connection to the Router
        //
        var connection = new autobahn.Connection({
           url: wsuri,
           realm: "realm1"
        });
        
        function onpyMotorSpeedUpdate (args){
        	var value = args[0];
        	last_slider_value = value;
        	console.log("updating slider value to : " + value);
        	$('#ex1').slider('setValue', value);
        }
        
        // fired when connection is established and session attached
        //
        connection.onopen = function (session, details) {
           console.log("Connected");
           autobahn_session = session;
           $('#ex1').slider({
	          	formatter: function(value) {
	          		if(value != last_slider_value)
	          		{
	          			last_slider_value = value;
	          			autobahn_session.publish('com.example.onmotorslide', [value]);
		                console.log("published to topic 'com.example.onmotorslide'");	
	          		}
	            	return 'Current value: ' + value;
	          	}
	        });
           autobahn_session.subscribe('com.example.pyMotorSpeedUpdate', onpyMotorSpeedUpdate).then(
        		function (sub){
        			console.log('subscribed to ' + sub.topic + ' topic');
        		},
        		function (err){
        			console.log('failed to subscribe to topic ', err);
        		}
           );
           autobahn_session.subscribe('com.example.onIceCandidate', onIceCandidate).then(
              		function (sub){
              			console.log('subscribed to ' + sub.topic + ' topic');
              		},
              		function (err){
              			console.log('failed to subscribe to topic ', err);
              		}
                 );
           
        }
        
     	// fired when connection was lost (or could not be established)
        //
        connection.onclose = function (reason, details) {
           console.log("Connection lost: " + reason);
     	}
     	
     	// now actually open the connection
        //
        connection.open();
     	
     	navigator.getUserMedia = (navigator.getUserMedia || navigator.webkitGetUserMedia || navigator.mozGetUserMedia || navigator.msGetUserMedia);
     	var RTCPeerConnection = window.RTCPeerConnection || window.mozRTCPeerConnection || window.webkitRTCPeerConnection || window.msRTCPeerConnection;
     	var RTCSessionDescription = window.RTCSessionDescription || window.mozRTCSessionDescription || window.webkitRTCSessionDescription || window.msRTCSessionDescription;
     	var RTCIceCandidate = window.mozRTCIceCandidate || window.webkitRTCIceCandidate || window.RTCIceCandidate;
     	
     	var streamInfos = {}
     	var servers = {
     		iceServers : [
     		 	{urls: "stun:stun.l.google.com:19302"}               
     		 ]
     	};
     	
     	var peerCon = new RTCPeerConnection(servers);
     	console.log(peerCon);
     	peerCon.onaddstream = onStreamAdded;
     	peerCon.onicecandidate = function(e){
     		if (!peerCon || !e || !e.candidate)
     			{
     				console.log('icecandidate fail.');
     				return;
     			}
     		else {
     			console.log('ice candidate success.');
     			console.log(e.candidate);
     			autobahn_session.publish('com.example.onIceCandidate', [JSON.stringify(e.candidate)]);
     			peerCon.onicecandidate = null;
     		}
     	}
     	
     	function onStreamAdded(evt)
     	{
     		console.log('add stream event.')
     		console.log(evt.stream);
     		streamInfos.remoteVideoUrl = window.URL.createObjectURL(evt.stream);
     		console.log(streamInfos.remoteVideoUrl);
     		document.querySelector('#remoteVideo').src = streamInfos.remoteVideoUrl;
     	}
     	
     	function StartHost(){
	     	navigator.getUserMedia(
	     		{
	     			audio : false,
	     			video : true
	     		},
	     		function(stream){
	     			streamInfos.localStream = stream;
	     			streamInfos.localVideoUrl = window.URL.createObjectURL(stream);
	     			bootstrap_alert.warning(streamInfos.localVideoUrl);
	     			console.log(streamInfos.localVideoUrl);
	     			console.log(streamInfos.localStream);
	     			document.querySelector('#sourceVideo').src = streamInfos.localVideoUrl;
	     			
	     			//can do that only after stream creation (acceptation of browser query to use camera)
	     	     	peerCon.addStream(streamInfos.localStream);
	     			
	     			console.log("creating offer...");
	     			var constraints = {
     					OfferToReceiveAudio: true,
     					OfferToReceiveVideo: true
	     			};
	     			peerCon.createOffer(gotLocalDescription, error, constraints);
	     			
	     			
	     		},
	     		function(){
	     			streamInfos.error = 'failed to access camera';
	     			console.log(streamInfos.error);
	     		}
	     	)
     	}
     	
     	function gotLocalDescription(description)
     	{
     		console.log(description);
     		peerCon.setLocalDescription(new RTCSessionDescription(description));
     		//need to send this description to the remotePeerConnection
     		//for this we can publish the description
     		console.log(JSON.stringify(description));
     		autobahn_session.publish('com.example.onStreamSession', [JSON.stringify(description)]);
     	}
     	
     	function onStreamSession(args){
     		if(!host)
     		{
     			console.log('streamSession received');
     			var remoteDescription = JSON.parse(args[0]);
     			console.log(remoteDescription);
     			
     			peerCon.setRemoteDescription(new RTCSessionDescription(remoteDescription), function(){
     				console.log('setRemoteDescription, creating answer.');
     				peerCon.createAnswer(function(answer){
     					peerCon.setLocalDescription(answer, function(){
     						console.log('created Answer and setLocalDescription')
     					}, error);
     				}, error);
     			}, error);
     			console.log('remote description set on RTC peer connection.')
     		}
     	}
     	
     	function onIceCandidate(args){
     		console.log('IceCandidate received');
 			var remoteIceCandidate = JSON.parse(args[0]);
 			console.log(remoteIceCandidate);
 			
 			peerCon.addIceCandidate(new RTCIceCandidate(remoteIceCandidate));
     	}
     	
     	function error(err){
			console.log('failed : ', err);
		}
</script>